@import models.GoogleBook.Book

@(dataModel: Book)

@main("The Ladies Library") {

<div class="container h-100 d-flex justify-content-center">

    <div class="jumbotron my-auto">

        <div class="container mb-5">
            <h1 class="display-3 row">The Ladies Library</h1>
        </div>
        <div class="justify-content-center">
            <h1>@dataModel.volumeInfo.title</h1>
            <p><strong>PageCount:</strong> @dataModel.volumeInfo.pageCount</p>
            <p><strong>Description:</strong> @dataModel.volumeInfo.description</p>
        </div>
    </div>

</div>
}
